@import './base.css';

@font-face {
  font-family: 'SCDream3';
  src: url('./fonts/SCDream3.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream4';
  src: url('./fonts/SCDream4.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream5';
  src: url('./fonts/SCDream5.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBSHunminjeongeumSaeronL';
  src: url('./fonts/EBS훈민정음새론L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaruBuri-Light';
  src: url('./fonts/MaruBuri-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunCentennial';
  src: url('./fonts/ChosunCentennial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('./fonts/NanumSquare_acL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./fonts/NanumSquare_acR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SSRockRegular';
  src: url('./fonts/SSRockRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuseongHyejeong';
  src: url('./fonts/SuseongHyejeong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  /* background-image: url('/images/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

#app {
  max-width: 2200px;
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}


@media (min-width: 1024px) {
  body {}

  #app {
    display: grid;
    grid-template-columns: 1fr;
  }
}
