@import './base.css';

body {
  font-family: 'Inter', sans-serif;
  /* background-image: url('/images/background-image.jpg'); 이미지 경로를 실제 파일 경로로 변경하세요 */
  /* background-size: cover; /* 화면에 맞게 이미지를 확대/축소 */
  /* background-position: center; 이미지를 중앙에 배치 */ 
  /* background-repeat: no-repeat; 이미지 반복 방지 */
  /* background-attachment: fixed;  */ /* 스크롤 시 배경 고정 (선택 사항) */
}
#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
  }
}